@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;


}
body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}
.titleName{
    height: 15vh;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family:'Courier New', monospace;
}
.titleName h1{
    font-size: 4rem;
    
}
.authPage{
    width: 90vw;
    height: 90vh;
    gap: 20px;
    justify-content: space-around;
    margin: auto;
}
.slide{
    box-shadow:0px 0px 4px #181818;;
    user-select: none;
}
@media (max-width:700px) {
    .carous{
        display: none;
    }
    .authCard{
        width: 70vw;
        margin: auto;
        min-width: none;
    }
    
}
.authCard{
    width: 400px;
    min-height: 300px;
    border-radius: 20px;
    padding: 20px;
    background-color: #3f3f3fbb;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.carous{
    width: 50vh;
}

.authCard h1{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.authCard h3{
    font-size: 0.75rem;
}

.auth-platforms{
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 30px;
    grid-auto-flow: row;
    place-items: center;
    height: 35px;
    margin-top: 20px;
}

.platform{
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
    height: 35px;
    width: 80%;
    border-radius: 10px;
    background-color: aliceblue;
}
.google{
    grid-row: 1/2;
    grid-column: 1/2;


    
}
.github{
    grid-row: 1/2;
    grid-column: 3/4;

}

@media (max-width:700px) {
    .auth-platforms{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        
        place-items: center;
        gap: 10px;
        height: auto;
        margin-top: 20px;
    }
    .google{
        grid-row: 1/2;
        grid-column: 1/2;
        
    }
    .github{
        grid-row: 2/3;
        grid-column: 1/2;
    
    }
    
}
.logo{

}
.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.dashh{
    width: 40px;
    background-color: white;
    height: 2px;
    margin: 5px;
}
.or h6{
    font-size: 0.75rem;
}
.authCard h4{
    font-size: 0.8rem;
    user-select: none;
    
}
.already{
    margin-top: 1.5rem;
    user-select: none;
}
.authCard h4:hover{
    color: steelblue;
    cursor: pointer;
    
}

.magicFields{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 10px 10px;
}
.enterEmail{
    border-radius: 10px;
    height: 2.5rem;
    padding: 10px;
    color: #000000;
    justify-self: center;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 3px solid rgb(36, 23, 48);
}
.enterEmail:focus{
    border: 3px solid rgb(174, 117, 231);
}
.sendMagic{
    border-radius: 10px;
    background-color: rgb(174, 117, 231);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 2.5rem;
    padding: 10px;
    color: #000000;
    justify-self: center;
    width: 100%;
    border-left: 2px solid;
    box-sizing: border-box;
    user-select: none;
}
.sendMagic:hover{
    background-color: rgb(204, 184, 224);
}
.sendMagic:active{
    border: 3px solid rgb(215, 228, 197);
    background-color: greenyellow;
    transition: background-color 0.2s ease-in-out;
    height: 2.45rem;
    width:97%;
}
.sendMagic:disabled{
    background-color: rgba(128, 128, 128, 0.411);
    user-select: none;
    border: none;
    transition: none;
    height: 2.5rem;
    width: 100%;
}